:root {
    --shadow-hue: 0;
    --shadow-lightness: 40%;
    --shadow-saturation: 0%;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-repeat: no-repeat;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: sans-serif;
    height: 100dvh;
    -ms-scroll-chaining: none;
        overscroll-behavior: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 100vw;
}

button,
span,
div {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.central-text {
    position: relative;
}

.countdown-circle-body {
    fill: none;
    stroke: rgba(255, 255, 255, 0.15);
    stroke-width: 0.5;
}

.countdown-circle-container {
    aspect-ratio: 1;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100vmin;
}

.countdown-circle-fill {
    fill: none;
    position: absolute;
    stroke: rgba(255, 255, 255, 0.5);
    stroke-dasharray: 0 100;
    stroke-linecap: round;
    stroke-width: 0.5;
}

.flash {
    -webkit-animation: 1s flash ease-out;
            animation: 1s flash ease-out;
}

.hidden {
    display: none !important;
}

.invisible {
    opacity: 0;
    visibility: hidden;
}

.step-button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9vmin;
    left: 50%;
    position: absolute;
    text-shadow:
        0.125vmin 0.125vmin 0.25vmin hsla(var(--shadow-hue), var(--shadow-saturation), var(--shadow-lightness), 0.5),
        0.25vmin 0.25vmin 0.5vmin hsla(var(--shadow-hue), var(--shadow-saturation), var(--shadow-lightness), 0.25),
        0.5vmin 0.5vmin 1vmin hsla(var(--shadow-hue), var(--shadow-saturation), var(--shadow-lightness), 0.125);
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
}

.step-button--decrease {
    bottom: -5vmin;
}

.step-button--increase {
    top: -5vmin;
}

.timer-control {
    background: none;
    border: none;
    color: hsl(0, 0%, 95%);
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;
    font-size: 4.5vmin;
    font-weight: 300;
}

.timer-control:hover {
    color: hsl(0, 0%, 97%);
}

.timer-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10vmin;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateY(min(10vmin, 10vmin));
        -ms-transform: translateY(min(10vmin, 10vmin));
            transform: translateY(min(10vmin, 10vmin));
}

.timer-display {
    color: inherit;
    font-family: 'Jost', sans-serif;
    font-size: 18vmin;
    font-weight: 500;
    line-height: 1;
    text-shadow:
        0.25vmin 0.25vmin 0.5vmin hsla(var(--shadow-hue), var(--shadow-saturation), var(--shadow-lightness), 0.5),
        0.5vmin 0.5vmin 1vmin hsla(var(--shadow-hue), var(--shadow-saturation), var(--shadow-lightness), 0.25),
        1vmin 1vmin 2vmin hsla(var(--shadow-hue), var(--shadow-saturation), var(--shadow-lightness), 0.125);
}

.time-unit-wrapper {
    position: relative;
}

@-webkit-keyframes flash {
    0% { opacity: 0.25; }
    100% { opacity: 1; }
}

@keyframes flash {
    0% { opacity: 0.25; }
    100% { opacity: 1; }
}